In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Automobile_data.csv')
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [5]:
import numpy as np
x[x == '?'] = np.nan

In [6]:
import numpy as np
y[y == '?'] = np.nan

In [7]:
print(x)

[[3 nan 'alfa-romero' ... '5000' 21 27]
 [3 nan 'alfa-romero' ... '5000' 21 27]
 [1 nan 'alfa-romero' ... '5000' 19 26]
 ...
 [-1 '95' 'volvo' ... '5500' 18 23]
 [-1 '95' 'volvo' ... '4800' 26 27]
 [-1 '95' 'volvo' ... '5400' 19 25]]

In [8]:
print(y)

['13495' '16500' '16500' '13950' '17450' '15250' '17710' '18920' '23875'
 nan '16430' '16925' '20970' '21105' '24565' '30760' '41315' '36880'
 '5151' '6295' '6575' '5572' '6377' '7957' '6229' '6692' '7609' '8558'
 '8921' '12964' '6479' '6855' '5399' '6529' '7129' '7295' '7295' '7895'
 '9095' '8845' '10295' '12945' '10345' '6785' nan nan '11048' '32250'
 '35550' '36000' '5195' '6095' '6795' '6695' '7395' '10945' '11845'
 '13645' '15645' '8845' '8495' '10595' '10245' '10795' '11245' '18280'
 '18344' '25552' '28248' '28176' '31600' '34184' '35056' '40960' '45400'
 '16503' '5389' '6189' '6669' '7689' '9959' '8499' '12629' '14869' '14489'
 '6989' '8189' '9279' '9279' '5499' '7099' '6649' '6849' '7349' '7299'
 '7799' '7499' '7999' '8249' '8949' '9549' '13499' '14399' '13499' '17199'
 '19699' '18399' '11900' '13200' '12440' '13860' '15580' '16900' '16695'
 '17075' '16630' '17950' '18150' '5572' '7957' '6229' '6692' '7609' '8921'
 '12764' '22018' '32528' '34028' '37028' nan '9295' '9895' '11850' '12170'
 '15040' '15510' '18150' '18620' '5118' '7053' '7603' '7126' '7775' '9960'
 '9233' '11259' '7463' '10198' '8013' '11694' '5348' '6338' '6488' '6918'
 '7898' '8778' '6938' '7198' '7898' '7788' '7738' '8358' '9258' '8058'
 '8238' '9298' '9538' '8449' '9639' '9989' '11199' '11549' '17669' '8948'
 '10698' '9988' '10898' '11248' '16558' '15998' '15690' '15750' '7775'
 '7975' '7995' '8195' '8495' '9495' '9995' '11595' '9980' '13295' '13845'
 '12290' '12940' '13415' '15985' '16515' '18420' '18950' '16845' '19045'
 '21485' '22470' '22625']

In [9]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(x[:, 1:2])
x[:, 1:2] = imputer.transform(x[:, 1:2])

In [10]:
print(x)

[[3 122.0 'alfa-romero' ... '5000' 21 27]
 [3 122.0 'alfa-romero' ... '5000' 21 27]
 [1 122.0 'alfa-romero' ... '5000' 19 26]
 ...
 [-1 95.0 'volvo' ... '5500' 18 23]
 [-1 95.0 'volvo' ... '4800' 26 27]
 [-1 95.0 'volvo' ... '5400' 19 25]]

In [13]:
from sklearn.impute import SimpleImputer
import numpy as np
y = y.reshape(-1, 1)
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(y)
y = imputer.transform(y)

In [14]:
print(y)

[[13495.        ]
 [16500.        ]
 [16500.        ]
 [13950.        ]
 [17450.        ]
 [15250.        ]
 [17710.        ]
 [18920.        ]
 [23875.        ]
 [13207.12935323]
 [16430.        ]
 [16925.        ]
 [20970.        ]
 [21105.        ]
 [24565.        ]
 [30760.        ]
 [41315.        ]
 [36880.        ]
 [ 5151.        ]
 [ 6295.        ]
 [ 6575.        ]
 [ 5572.        ]
 [ 6377.        ]
 [ 7957.        ]
 [ 6229.        ]
 [ 6692.        ]
 [ 7609.        ]
 [ 8558.        ]
 [ 8921.        ]
 [12964.        ]
 [ 6479.        ]
 [ 6855.        ]
 [ 5399.        ]
 [ 6529.        ]
 [ 7129.        ]
 [ 7295.        ]
 [ 7295.        ]
 [ 7895.        ]
 [ 9095.        ]
 [ 8845.        ]
 [10295.        ]
 [12945.        ]
 [10345.        ]
 [ 6785.        ]
 [13207.12935323]
 [13207.12935323]
 [11048.        ]
 [32250.        ]
 [35550.        ]
 [36000.        ]
 [ 5195.        ]
 [ 6095.        ]
 [ 6795.        ]
 [ 6695.        ]
 [ 7395.        ]
 [10945.        ]
 [11845.        ]
 [13645.        ]
 [15645.        ]
 [ 8845.        ]
 [ 8495.        ]
 [10595.        ]
 [10245.        ]
 [10795.        ]
 [11245.        ]
 [18280.        ]
 [18344.        ]
 [25552.        ]
 [28248.        ]
 [28176.        ]
 [31600.        ]
 [34184.        ]
 [35056.        ]
 [40960.        ]
 [45400.        ]
 [16503.        ]
 [ 5389.        ]
 [ 6189.        ]
 [ 6669.        ]
 [ 7689.        ]
 [ 9959.        ]
 [ 8499.        ]
 [12629.        ]
 [14869.        ]
 [14489.        ]
 [ 6989.        ]
 [ 8189.        ]
 [ 9279.        ]
 [ 9279.        ]
 [ 5499.        ]
 [ 7099.        ]
 [ 6649.        ]
 [ 6849.        ]
 [ 7349.        ]
 [ 7299.        ]
 [ 7799.        ]
 [ 7499.        ]
 [ 7999.        ]
 [ 8249.        ]
 [ 8949.        ]
 [ 9549.        ]
 [13499.        ]
 [14399.        ]
 [13499.        ]
 [17199.        ]
 [19699.        ]
 [18399.        ]
 [11900.        ]
 [13200.        ]
 [12440.        ]
 [13860.        ]
 [15580.        ]
 [16900.        ]
 [16695.        ]
 [17075.        ]
 [16630.        ]
 [17950.        ]
 [18150.        ]
 [ 5572.        ]
 [ 7957.        ]
 [ 6229.        ]
 [ 6692.        ]
 [ 7609.        ]
 [ 8921.        ]
 [12764.        ]
 [22018.        ]
 [32528.        ]
 [34028.        ]
 [37028.        ]
 [13207.12935323]
 [ 9295.        ]
 [ 9895.        ]
 [11850.        ]
 [12170.        ]
 [15040.        ]
 [15510.        ]
 [18150.        ]
 [18620.        ]
 [ 5118.        ]
 [ 7053.        ]
 [ 7603.        ]
 [ 7126.        ]
 [ 7775.        ]
 [ 9960.        ]
 [ 9233.        ]
 [11259.        ]
 [ 7463.        ]
 [10198.        ]
 [ 8013.        ]
 [11694.        ]
 [ 5348.        ]
 [ 6338.        ]
 [ 6488.        ]
 [ 6918.        ]
 [ 7898.        ]
 [ 8778.        ]
 [ 6938.        ]
 [ 7198.        ]
 [ 7898.        ]
 [ 7788.        ]
 [ 7738.        ]
 [ 8358.        ]
 [ 9258.        ]
 [ 8058.        ]
 [ 8238.        ]
 [ 9298.        ]
 [ 9538.        ]
 [ 8449.        ]
 [ 9639.        ]
 [ 9989.        ]
 [11199.        ]
 [11549.        ]
 [17669.        ]
 [ 8948.        ]
 [10698.        ]
 [ 9988.        ]
 [10898.        ]
 [11248.        ]
 [16558.        ]
 [15998.        ]
 [15690.        ]
 [15750.        ]
 [ 7775.        ]
 [ 7975.        ]
 [ 7995.        ]
 [ 8195.        ]
 [ 8495.        ]
 [ 9495.        ]
 [ 9995.        ]
 [11595.        ]
 [ 9980.        ]
 [13295.        ]
 [13845.        ]
 [12290.        ]
 [12940.        ]
 [13415.        ]
 [15985.        ]
 [16515.        ]
 [18420.        ]
 [18950.        ]
 [16845.        ]
 [19045.        ]
 [21485.        ]
 [22470.        ]
 [22625.        ]]

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [16]:
print(x)

[[0.0 0.0 0.0 ... '5000' 21 27]
 [0.0 0.0 0.0 ... '5000' 21 27]
 [0.0 0.0 0.0 ... '5000' 19 26]
 ...
 [0.0 1.0 0.0 ... '5500' 18 23]
 [0.0 1.0 0.0 ... '4800' 26 27]
 [0.0 1.0 0.0 ... '5400' 19 25]]

In [17]:
from sklearn.preprocessing import LabelEncoder
Le = LabelEncoder()
y = Le.fit_transform(y)

/usr/local/lib/python3.12/dist-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
print(y)

[118 137 137 123 148 128 150 158 168 115 136 145 162 163 169 173 185 182
   1  11  17   7  13  49  10  20  41  63  66 113  14  25   5  16  32  34
  34  47  69  65  88 112  89  22 115 115  95 175 180 181   2   8  23  21
  37  94 103 120 131  65  61  90  87  92  97 153 154 170 172 171 174 178
 179 184 186 138   4   9  19  42  80  62 109 126 125  28  55  72  72   6
  30  18  24  36  35  46  39  52  58  68  77 119 124 119 147 161 155 105
 114 108 122 130 144 142 146 141 151 152   7  49  10  20  41  66 110 165
 176 177 183 115  73  79 104 106 127 129 152 157   0  29  40  31  44  81
  70  99  38  86  53 102   3  12  15  26  48  64  27  33  48  45  43  59
  71  54  57  74  76  60  78  84  96 100 149  67  91  83  93  98 140 135
 132 133  44  50  51  56  61  75  85 101  82 116 121 107 111 117 134 139
 156 159 143 160 164 166 167]

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [20]:
print(x_train)

[[0.0 0.0 0.0 ... '5200' 19 25]
 [0.0 0.0 0.0 ... '4800' 45 50]
 [0.0 0.0 1.0 ... '5200' 25 31]
 ...
 [0.0 0.0 0.0 ... '4750' 16 18]
 [0.0 0.0 0.0 ... '4400' 26 31]
 [0.0 0.0 1.0 ... '5800' 27 33]]

In [21]:
print(x_test)

[[0.0 0.0 0.0 ... '5500' 31 38]
 [0.0 0.0 0.0 ... '5200' 31 37]
 [0.0 0.0 0.0 ... '4800' 31 38]
 ...
 [0.0 0.0 0.0 ... '6000' 16 23]
 [0.0 1.0 0.0 ... '5400' 19 25]
 [0.0 0.0 0.0 ... '4900' 31 36]]

In [22]:
print(y_train)

[155  30  86  56  46 184   8 152 119 171 105 169  71  65  11  98  65 122
  57 103  93 110 133  48  21  35  81 161 104  89 182 128   3 159 180  74
 154 146  37  36  41   6 100  66 162 177 124 134  45  68  62  85 111 163
 109 135  50 115 114  34  76 116  48 144  26 164   7 156 138   7  18  61
 137 174  28  64 150  60 118  43   9 142 153  94 143  72 101  95 186  24
  53  72 166 136   5 126  59  77 165  49 176 115  83 147  75 129 130 107
  97 173 112  78 108  80  23  41   4  22  10 123  91 181 102  79 117  14
  20 141 132 168  61 183 137 120  13  90  92 158 160  31  55  39 172   2
  44  33  27  29  38 119  17 140  20 127 178 115  70 121  42 106 157 179
  40  47]

In [23]:
print(y_test)

[ 19  52  12 115  88 170  58   1  15  87 148 149 139  69 113  96  82  16
 152  99  67  25 145  49  84  32 125  51  10  34  54  66 185  73 151  44
  63 175 131 167   0]